#divAdd {
    text-align: center;
    background-color: darkseagreen;
}

#divLista {
    text-align: center;
    background-color: lightblue;
}

.prioridade-baixa {
    background-color: rgb(116, 209, 252);
    color: white;
    font-size: large;
}

.prioridade-media {
    background-color: rgb(68, 149, 255); 
    color: white;
    font-size: large;
}

.prioridade-alta {
    background-color: rgb(72, 105, 255); 
    text-decoration-color: white;
    color: white;
    font-size: large;
}

.descTarefa {
    display: inline;
    text-decoration-color: white;
}

.tarefaConcluida {
    text-decoration: line-through black;
}


